[Unit]
Description=Kubernetes Proxy

[Service]
ExecStart=/opt/kubernetes/bin/proxy \
  --etcd_servers=http://127.0.0.1:4001 \
  --logtostderr

[Install]
WantedBy=multi-user.target
